body {
  background-color:#8f62c3;
 
}

h1{
    color:#a0d2eb;
    text-decoration: underline;
}

li{ 
    list-style-type: none;
    display: flex;
    
    
}

ul{
    color: #d0bdf4;
    list-style-type: none;
    font-size: 22px;
}

button{
    font-size: 20px;
    color:black;
    background-color:#a28089;
    border-radius:5px;
}

button:hover {
    background-color:#e5eaf5;
}

#datebtn {
        font-size: 20px;
        color:black;
        background-color:#a28089;
        border-radius:5px;
}