body {
  background-color:dimgray;
  
}

h1{
    color: cornflowerblue;
    text-decoration: underline;
}

li{ 
    list-style-type: none;
    display: flex;
    
}

ul{
    color: cornflowerblue;
    list-style-type: none;
    font-size: 18px;
}

button{
    font-size: 20px;
    color:blanchedalmond;
    background-color:rgb(205, 164, 170);
    border-radius:5px;
}