body {
  background-color:dimgray;
  
}

h1{
    color: cornflowerblue;
    text-decoration: underline;
}

li{ 
    list-style-type: none;
    display: flex;
    
    
}

ul{
    color: cornflowerblue;
    list-style-type: none;
    font-size: 22px;
}

button{
    font-size: 20px;
    color:black;
    background-color:lightsteelblue;
    border-radius:5px;
}

button:hover {
    background-color:lightgreen ;
}

